GROTTO_ATTACHMENT_ROOT=/Users/zknicker/srv/grotto/data/attachments
GROTTO_BACKUP_STAGING_ROOT=/Users/zknicker/srv/grotto/data/backup-staging
GROTTO_BACKUP_SUCCESS_FILE=/Users/zknicker/srv/grotto/data/backup-state/latest-success
GROTTO_DATABASE_URL=postgres://grotto_backup:GENERATE_ON_HOST@127.0.0.1:5438/grotto_production
RESTIC_REPOSITORY=s3:https://s3.us-west-000.backblazeb2.com/EXACT_BUCKET/EXACT_PREFIX
RESTIC_PASSWORD_FILE=/Users/zknicker/srv/grotto/config/restic-password
# AWS_ACCESS_KEY_ID=INJECT_ON_HOST
# AWS_SECRET_ACCESS_KEY=INJECT_ON_HOST
