RESTIC_REPOSITORY=INJECT_EXACT_OFF_MACHINE_REPOSITORY
RESTIC_PASSWORD_FILE=/Library/Application Support/Grotto/Server/restic-password
GROTTO_PRODUCTION_DATABASE_URL=postgres://grotto_runtime:INJECT_PASSWORD@127.0.0.1:5432/grotto_production
GROTTO_RESTORE_DATABASE_URL=postgres://grotto_restore:INJECT_PASSWORD@127.0.0.1:5432/INJECT_ISOLATED_DATABASE
GROTTO_ATTACHMENT_ROOT=/var/db/grotto-server/attachments
GROTTO_RESTORE_TARGET_ROOT=/var/db/grotto-server/restore-drills/INJECT_TIMESTAMP
GROTTO_RESTORE_SNAPSHOT=INJECT_SNAPSHOT_ID
GROTTO_PG_RESTORE_COMMAND=/opt/homebrew/opt/postgresql@16/bin/pg_restore
GROTTO_RESTIC_COMMAND=/opt/homebrew/bin/restic
