<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.grotto.backup</string>
    <key>UserName</key>
    <string>_grotto_backup</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/sh</string>
        <string>/opt/grotto-server/current/operations/run-backup</string>
    </array>
    <key>StartCalendarInterval</key>
    <array>
        <dict><key>Hour</key><integer>0</integer><key>Minute</key><integer>15</integer></dict>
        <dict><key>Hour</key><integer>6</integer><key>Minute</key><integer>15</integer></dict>
        <dict><key>Hour</key><integer>12</integer><key>Minute</key><integer>15</integer></dict>
        <dict><key>Hour</key><integer>18</integer><key>Minute</key><integer>15</integer></dict>
    </array>
    <key>StandardOutPath</key>
    <string>/var/log/grotto-server/backup.log</string>
    <key>StandardErrorPath</key>
    <string>/var/log/grotto-server/backup.error.log</string>
</dict>
</plist>
